<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <!-- integration of Gradle views -->
    <extension
            point="org.eclipse.ui.views">
        <view
                id="dev.equo.ide.chatgpt.views.browser"
                class="dev.equo.ide.chatgpt.ChatGptView"
                category="dev.equo.ide.chatgpt.ui.views"
                icon="icons/openai.png"
                name="ChatGPT"
                restorable="true">
        </view>
        <category
                id="dev.equo.ide.chatgpt.ui.views"
                name="ChatGPT">
        </category>
    </extension>
    <extension
        point="org.eclipse.ui.preferencePages">
        <page
                class="dev.equo.ide.chatgpt.PromptPreferencePage"
                id="dev.equo.ide.chatgpt.preferences.prompts"
                name="ChatGPT Prompts">
        </page>
    </extension>
    <extension point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension
                targetID="org.eclipse.jdt.ui.JavaPerspective">
            <view id="dev.equo.ide.chatgpt.views.browser"
                  relative="org.eclipse.ui.views.ContentOutline"
                  relationship="stack"/>
        </perspectiveExtension>
    </extension>
</plugin>